.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #777;
  height: 100vh;
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.top-section {
  display: flex;
  flex: 1 1 auto;
  margin-bottom: 20px; /* Add margin-bottom to create padding between the top section and the status box */
}
.flex-item {
  flex: 1;
}
.status-box-container {
  flex: 0 0 30%; /* Adjust this value to control the height of the status box proportionately */
  display: flex;
  align-items: center;
}
